# compiled output
/node_modules
/storybook-static

# Logs
*.log
logs

# OS
.DS_Store

# IDEs and editors
*.launch
*.sublime-workspace
.c9/
.classpath
.direnv/
.project
.settings/
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
